@import "../Current/index.module.scss";

.Weather {
	margin: 30px;
	border-radius: 32px;
	box-shadow: 0 0 16px rgba(0,0,0,.5);
	transition: all 0.3s ease-in-out;
}

.loading{
	flex: 1 1;
	font-size: 3rem;
	padding: 88px 0;
	width: 700px;
	height: 100px;
}

@media screen and (max-width: 1024px) {
	.Weather {
		width: 50%;
		min-width: 350px;
		margin-top: 50px;
	}
}